<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h4>Source : GOOGLE</h4>
    <br>
     <table style="width:100%">
  <tr>
  <th>S.No.</th>
  <th>UTM Source</th>
  <th>UTM Campaign</th>
  <th>Geo</th>
  <th>Prospecting/Retargeting</th>
  <th>Brand_Nonbrand</th>
  </tr>
  {% for i in res1 %}
      <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
    <td>{{ i.2 }}</td>
    <td>{{ i.3 }}</td>
    <td>{{ i.4 }}</td>
    <td>{{ i.5 }}</td>
  </tr>
{% endfor %}

</table>


<h4>Source : PINTEREST</h4>
    <br>
     <table style="width:100%">
  <tr>
  <th>S.No.</th>
  <th>UTM Source</th>
  <th>UTM Campaign</th>
  <th>Geo</th>
  <th>Prospecting/Retargeting</th>
  <th>Brand_Nonbrand</th>
  </tr>
  {% for i in res3 %}
      <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
    <td>{{ i.2 }}</td>
    <td>{{ i.3 }}</td>
    <td>{{ i.4 }}</td>
    <td>{{ i.5 }}</td>
  </tr>
{% endfor %}

</table>


<h4>Source : FACEBOOK/INSTAGRAM</h4>
    <br>
     <table style="width:100%">
    <tr>
  <th>S.No.</th>
  <th>UTM Source</th>
  <th>UTM Campaign</th>
  <th>Geo</th>
  <th>Prospecting/Retargeting</th>
  <th>Brand_Nonbrand</th>
  </tr>
  {% for i in res2 %}
      <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
    <td>{{ i.2 }}</td>
    <td>{{ i.3 }}</td>
    <td>{{ i.4 }}</td>
    <td>{{ i.5 }}</td>
  </tr>
{% endfor %}

</table>

<h4>Source : BING</h4>
    <br>
     <table style="width:100%">
  <tr>
  <th>S.No.</th>
  <th>UTM Source</th>
  <th>UTM Campaign</th>
  <th>Geo</th>
  <th>Prospecting/Retargeting</th>
  <th>Brand_Nonbrand</th>
  </tr>
  {% for i in res4 %}
      <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
    <td>{{ i.2 }}</td>
    <td>{{ i.3 }}</td>
    <td>{{ i.4 }}</td>
    <td>{{ i.5 }}</td>
  </tr>
{% endfor %}

</table>

</body>
</html>